<html><head>
    <title>Target: RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
  <h2>
    We played <%= @player %>!
  </h2>

  <h2>
   They played <%= @cpu %>!
  </h2>

  <h2>
    <%= @outcome %>
  </h2>

  <a href="/">
    Rules
  </a>

  

</body><style>
@media print {
  #simplifyJobsContainer {
    display: none;
  }
}
</style><div id="simplifyJobsContainer" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: visible; z-index: 2147483647;"><span></span></div><script id="simplifyJobsPageScript" src="chrome-extension://pbanhockgagggenencehbnadejlgchfc/js/pageScript.bundle.js"></script></html>
